html,
body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-image: url(/static/images/bg.jpg);
}

.container {
    padding: 0px;
    background-color: rgba(244, 249, 233, 0.65);
}

/*navbar styles*/
.navbar {
    margin-bottom: 30px;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: teal !important;
}

.logo {
    width: 70px;
    height: 70px;
}

.navbar-toggler {
    font-size: 2px;
    line-height: 0;
}

.navbar-toggler-icon {
    width: 15px;
    height: 15px;
}

.nav-link {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: teal !important;
}

.bg-light {
    background-color: rgba(244, 249, 233, 0.10) !important;
}

.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 20px;
    background-color: rgba(244, 249, 233, 0.10) !important;
}

.user-display {
    padding-left: 15px;
    font-size: 16px;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 1px;
    text-align: right;
    color: black;
}

form {
    padding: 30px;
}

.bd-example {
    padding: 0px 3px;
    margin-bottom: 20px;
}

.main {
    padding: 0px 20px;
}